$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);
@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Outfit", sans-serif;
  @include flex-center;
}
.main-box {
  background-color: $light-gray;
  height: auto;
  width: 100vw;
  height: 100vh;
  @include flex-center;

  .qr-box {
    width: 20%;
    height: auto;
    padding: 1.7rem;
    border-radius: 1rem;
    background-color: $white;
    @include flex-center;
    flex-direction: column;
    box-sizing: border-box;
    .img-box {
      height: 60%;
      img {
        height: auto;
        width: 100%;
        border-radius: 1rem;
      }
    }

    .text-box {
      @include flex-center;
      height: 40%;
      flex-direction: column;
      margin: 2rem;
      text-align: center;

      h1 {
        font-weight: 700;
        color: $dark-blue;
        font-size: 1.9rem;
        margin-bottom: 2rem;
      }
      p {
        font-weight: 400;
        color: $grayish-blue;
        font-size: 1.4rem;
      }
    }
  }
}
