:root {
  --color-primary-purple: hsl(259, 100%, 65%);
  --color-primary-light-red: hsl(0, 100%, 67%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-off-white: hsl(0, 0%, 94%);
  --color-neutral-light-grey: hsl(0, 0%, 86%);
  --color-neutral-smokey-grey: hsl(0, 1%, 44%);
  --color-neutral-off-black: hsl(0, 0%, 8%);

  --color-transparent-border-light-grey: rgba(113, 111, 111, 0.1);
  --color-transparent-text-light-grey: rgba(113, 111, 111, 0.5);
  --color-transparent-border-purple: rgba(133, 77, 255, 0.5);
  --color-transparent-border-light-red: rgba(255, 87, 87, 0.3);
}
